.faq-wrapper {
  padding: 50px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  margin-bottom: 40px;
  color: #1a1a1a;
  text-align: center;
}

.faq-box {
  width: 100%;
  max-width: 850px;
  background: #EDF3C6;
  padding: 35px 45px;
  border-radius: 28px;
}

.faq-item {
  padding: 12px 0;
}

.faq-question {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #444;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px 0;
}

.active-q {
  color: #38400D; /* your purple color */
}

.faq-arrow {
  width: 20px;
  height: 20px;
  stroke: #444;   /* purple */
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
  stroke: #7b3ff2;
}


.faq-answer {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #555;
  padding-right: 10px;
  line-height: 27px;
}

.faq-line {
  width: 100%;
  height: 1px;
  background: rgba(0,0,0,0.1);
  margin-top: 20px;
}




/* 🌟 Tablet (≤ 900px) */
@media (max-width: 900px) {
  .faq-title {
    font-size: 34px;
    line-height: 44px;
    margin-bottom: 30px;
  }

  .faq-box {
    padding: 28px 32px;
  }

  .faq-question {
    font-size: 17px;
  }

  .faq-answer {
    font-size: 17px;
    line-height: 25px;
  }
}

/* 🌟 Mobile (≤ 600px) */
@media (max-width: 600px) {
  .faq-wrapper {
    padding: 40px 15px;

        width: 80vw;
        margin: 0 auto;
  }

  .faq-title {
    font-size: 28px;
    line-height: 36px;
  }

  .faq-box {
    padding: 24px 20px;
    border-radius: 22px;
  }

  .faq-question {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }

  .faq-answer {
    font-size: 15px;
    line-height: 22px;
  }

  .faq-arrow {
    width: 18px;
    height: 18px;
  }

  .faq-line {
    margin-top: 16px;
  }
}
